<section [formGroup]="selection">
    <mat-checkbox formControlName="name" (click)="onClick()" >Name</mat-checkbox>
    <mat-checkbox formControlName="price">Price</mat-checkbox>
    <mat-checkbox formControlName="sector">Sector</mat-checkbox>
    <mat-checkbox formControlName="quantity">Quantity</mat-checkbox>
    <mat-checkbox formControlName="book_value">Book Value</mat-checkbox>
    <mat-checkbox formControlName="current_value">Current Value</mat-checkbox>
    <mat-checkbox formControlName="netProfit">Profit$</mat-checkbox>
    <mat-checkbox formControlName="percentProfit">Profit%</mat-checkbox>
</section>

